<h1 class="content-head is-center"> <%= @article.title %></h1>
<p>
  <%= @article.body %>
</p>
<p>
  Author: <%= link_to @article.user.name, user_profile_path(@article.user) %>
</p>
<p>
  <% unless @tags.first.nil? %>Tags:<% end %>
  <% @tags.each do |tag| %>
    <%= link_to tag, tag_path(tag) %><% unless tag == @last || @tags.nil? %>,<% end %>
  <% end %>
</p>
<% if current_user == @article.user%>
  <%= link_to 'Edit article', edit_article_path %>
<% else %>
<% end %>
