<%= javascript_include_tag 'ratyrate' %>

<h1 class="content-head is-center"> <%= @article.title %></h1>
<p>
  <%= @article.body %>
</p>
<p>
  Author: <%= link_to @article.user.name, user_profile_path(@article.user) %>
</p>
<p>
  <% unless @tags.first.nil? %>Tags:<% end %>
  <% @tags.each do |tag| %>
    <%= link_to tag, tag_path(tag) %><% unless tag == @last || @tags.nil? %>,<% end %>
  <% end %>
</p>
<% if current_user == @article.user%>
  <%= link_to 'Edit article', edit_article_path %>
<% end %>
<div>
<% if current_user && current_user != @article.user %>
  <p>
    Rate this article: <%= rating_for_user @article, current_user, 'rating',
      disable_after_rate: false,
      cancel: false,
      space: true %><br>
  </p>
<% end %>
<% unless @article.rating_average.nil? %>
  Average rating: <%= rating_for @article, 'rating' %>
<% end %>
</div>
