<% @user = User.find_by_id(params[:user_id])%>
<h1>Profile for <%= @user.name %></h1>
<% if current_user %>
  <%= link_to 'Edit Profile', edit_user_registration_path %>
<% end %>
<div>
  Name: <%= @user.name %><br>
  <% unless @user.garden_website == "" %>
    Garden Website: <%= link_to @user.garden_website%><br>
  <% end %>
  <% unless @user.blurb == "" %>
    About Me: <%= @user.blurb %><br>
  <% end %>
  <% unless @user.g_street == "" %>
    Garden Address:<br>
    <% unless @user.g_street == "" %>
      <%= @user.g_street %><br>
    <% end %>
    <% unless @user.g_street2 == "" %>
      <%= @user.g_street2 %><br>
    <% end %>
    <% unless @user.g_postcode == "" %><%= @user.g_postcode %><% end %><% unless @user.g_city == "" %>, <%= @user.g_city %><% end %><% unless @user.g_country == "" %>, <%= @user.g_country %><% end %>
  <% end %>
</div>
<div>
  <% if @user.pro %>
    <p> <%= @user.name %> is a pro member</p>
  <% else %>
    <p>  <%= @user.name %> has not signed up for pro membership</p>
  <% end %>
</div>
<div>
  <% if @user.articles != nil %>
    <% @user.articles.each do |article| %>
      <h3 class="content-head is-center"><%= article.title %></h3>
      <p class="is-center"><%= article.body.truncate_words(100) %>
        <% if article.body.split.size > 100 %><%= link_to 'Read more', article %><% end %>
      </p>
      <% end %>
  <% end %>
</div>
