<!DOCTYPE html>
<html>
  <head>
    <title>GardenClub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'pure-min' %>
    <%= stylesheet_link_tag    'grids-responsive-min' %>
    <%= stylesheet_link_tag    'alerts' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <div class="pure-g">
      <div class="pure-u-1">
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
